#maze_section {
      background-color:#e6f2ff;
      border-width:2px; 
      height: 600px;
    }
#code_section {
      background-color:#ebfaeb;
      border-width:2px; 
      height: 600px;
    }
#code_input{
	  height: 500px;
	  
	background-color:#ffffff;
}
.index{
	 width: 100%;
}
.w90{
	 width: 90%;
}

