<div class="container">
	<div class="text-center">
		<h3 style="text-align:center">Welcome Coding Battle</h3>
		<a  href="/game/maze_index" style="text-align:center" class="btn btn-lg btn-info">Ｍaze game</a>
		<br>
		<br>
		<a  href="/game" style="text-align:center" class="btn btn-lg btn-info">Tower game</a>
		<br>
	<div class="text-center">
</div>
