<div class="container ">
   <div class="row" >
      <div class=" col-md-5" id="maze_sidebar">
         <ul class="nav flex-column">

            <li class="nav-item">
               <button class="btn btn-default" data-toggle="collapse" data-target="#self">My Mazes</button>
               <div id="self" class="collapse">
                  <a href="#">hahaha</a>
                  <br>
                  <a href="#">CSS</a>
               </div>
            </li>

            <br>
            <li class="nav-item">
               <button class="btn btn-default" data-toggle="collapse" data-target="#official">official Mazes</button>
               <div id="official" class="collapse">
                  <a href="#">1
                  <br>
                  <a href="#"> 1-1 maze</a>
                  <br>
                  <a href="#"> 1-2 maze</a>
                  </a>
                  <br>
               </div>
            </li>
         </ul>
      </div>
      <div class="col-md-2"> <p id="maze_name">001 maze</p><p>Timer</p></div>
      <div class=" col-md-5 " id="others">
         <ul class="nav flex-column">
            <li class="nav-item">
               <button class="btn btn-default" data-toggle="collapse" data-target="#self">Rank</button>
            </li>
            <br>
            <li class="nav-item">
               <button class="btn btn-default" data-toggle="collapse" data-target="#official">History</button>
               <div id="official" class="collapse">
                  <a href="#">hahaha</a>
                  <br>
                  <a href="#">CSS</a>
               </div>
            </li>
         </ul>
      </div>
   </div>
   <div class="row index">
      
      <div class="justify-space-between ">
         <div class=" col-md-7 ">
            <section id="maze_section"  >
               <p>Maze</p>
               <canvas id="myCanvas"></canvas>
            </section>
         </div>
         <div class=" col-md-5 ">
            <section id="code_section"  >
            <p>Code</p>
               <input class=" col-md-11" align="top" type="text" name="code_input" id="code_input" >
            </section>
         </div>
      </div>
      </div>
   </div>
</div>