<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
      <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
     
      <style>
         #wrap {
         width:1500px;
         margin:0 auto;
         }
      </style>
      <style>
         #input { border-radius:2px; border:1px solid #ccc;
         margin-top:10px; padding:5px; width:400px;
         }
      </style>
   </head>
   <body >
      <div class="container">
         <div class="row">
            <div id="chronoExample">
               <div class="values">00:00:00</div>
               <div>
                  <button class="startButton">Start</button>
              </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8 col-ms-7">
               <canvas id="myCanvas" width="1000" height="400"  ></canvas>
               <script type="text/javascript">
                  var ctx = document.getElementById("myCanvas").getContext('2d');
               </script>
            </div>
            <div class="col-md-2 col-md-offset-1 col-ms-3">
               <textarea type="text" id="input_code" rows="20" cols="50" ></textarea>
               <button onclick="websocket_client(1)">Save code</button>
            </div>
         </div>
      </div>
      <div>
         <input type="text" id="input" />
         <button onclick="websocket_client(0)">Save Destination</button>
      </div>
      </div>
   </body>
</html>